.graph {
  .background {
    .meter {
      fill: #333;
    }

    .meterdot {
      stroke: #FFF;
      stroke-width: 1;
    }

    .axis-x,
    .axis-y {
      stroke: black;
      stroke-width: 1px;
    }
  }

  .valueLabel {
    fill: #FFF;
  }

  .wiper {
    stroke: @material-800;
    stroke-width: 3;
  }

  .wipercap {
    fill: #555;
  }

  .graph-line {
    stroke: @material-800;
    stroke-width: 1;
    fill: none;
  }
}