@material-50: #F1F8E9;
@material-100: #DCEDC8;
@material-200: #C5E1A5;
@material-300: #AED581;
@material-400: #9CCC65;
@material-500: #8BC34A;
@material-600: #7CB342;
@material-700: #689F38;
@material-800: #558B2F;
@material-900: #33691E;

@material-size-headline: 20px;
@material-size-title: 15px;
@material-size-subhead: 14px;
@material-size-body: 14px;
@material-size-caption: 12px;
@material-size-button: 14px;

@toolbar-background: @material-500;

.material-title() {
  font-weight: 500 !important;
  font-size: @material-size-title !important;
}