@import "../bower_components/bootstrap/less/bootstrap";
@import "window";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 13px;
  overflow: hidden;
}

